<a href="https://colab.research.google.com/github/JMML2021/0501_sampling/blob/main/05_Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Activo Google Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive/01_COLAB/kaggle.json'

# Exercici 1

Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

In [ ]:
# Abro el fichero una vez adecuado

path = ('/content/drive/MyDrive/01_COLAB/resultsFutbol.csv')
df=  pd.read_csv(path)
df.shape

nRow, nCol = df1.shape
print(f'Hay  {nRow} filas con {nCol} columnas')

Hay  41243 filas  11 columnas

In [ ]:
#df.describe

In [ ]:
df.head(-8)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41230,2019-10-19,Uganda,Burundi,3,0,African Nations Championship qualifying,Uganda,Uganda,False
41231,2019-10-19,Morocco,Algeria,3,0,African Nations Championship qualifying,Berkane,Morocco,False
41232,2019-10-19,Namibia,Madagascar,2,0,African Nations Championship qualifying,Namibia,Namibia,False
41233,2019-10-19,Zambia,Eswatini,2,2,African Nations Championship qualifying,Zambia,Zambia,False
41234,2019-10-19,Nigeria,Togo,2,0,African Nations Championship qualifying,Nigeria,Nigeria,False

In [ ]:
# Convierto todas las columnas de tiempo en un formato correcto
df1 = df.copy()

formato = ("%Y-%m-%d %H:%M")
df1['fecha']= pd.to_datetime(df1['date'],
                               format=formato,
                               errors='coerce')
df1.head(-8)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,fecha
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872-11-30
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873-03-08
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874-03-07
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875-03-06
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876-03-04
...,...,...,...,...,...,...,...,...,...,...
41230,2019-10-19,Uganda,Burundi,3,0,African Nations Championship qualifying,Uganda,Uganda,False,2019-10-19
41231,2019-10-19,Morocco,Algeria,3,0,African Nations Championship qualifying,Berkane,Morocco,False,2019-10-19
41232,2019-10-19,Namibia,Madagascar,2,0,African Nations Championship qualifying,Namibia,Namibia,False,2019-10-19
41233,2019-10-19,Zambia,Eswatini,2,2,African Nations Championship qualifying,Zambia,Zambia,False,2019-10-19
41234,2019-10-19,Nigeria,Togo,2,0,African Nations Championship qualifying,Nigeria,Nigeria,False,2019-10-19

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41243 entries, 0 to 41242
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41243 non-null  object
 1   home_team   41243 non-null  object
 2   away_team   41243 non-null  object
 3   home_score  41243 non-null  int64
 4   away_score  41243 non-null  int64
 5   tournament  41243 non-null  object
 6   city        41243 non-null  object
 7   country     41243 non-null  object
 8   neutral     41243 non-null  bool
 9   fecha       41243 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(2), object(6)
memory usage: 2.9+ MB

In [ ]:
# Partidos ganados por cada pais

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41243 entries, 0 to 41242
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41243 non-null  object
 1   home_team   41243 non-null  object
 2   away_team   41243 non-null  object
 3   home_score  41243 non-null  int64
 4   away_score  41243 non-null  int64
 5   tournament  41243 non-null  object
 6   city        41243 non-null  object
 7   country     41243 non-null  object
 8   neutral     41243 non-null  bool
 9   fecha       41243 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(2), object(6)
memory usage: 2.9+ MB

In [ ]:
df1

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,fecha
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872-11-30
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873-03-08
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874-03-07
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875-03-06
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876-03-04
...,...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False,2019-10-20
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False,2019-10-20
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False,2019-10-20
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False,2019-10-20
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False,2019-10-20

In [ ]:
#df1 = df.copy()
df1 ['year'] = pd.DatetimeIndex(df1['fecha']).year
df1

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,fecha,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872-11-30,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873-03-08,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874-03-07,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875-03-06,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876-03-04,1876
...,...,...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False,2019-10-20,2019
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False,2019-10-20,2019
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False,2019-10-20,2019
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False,2019-10-20,2019
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False,2019-10-20,2019

In [ ]:
dfPaises = pd.unique(df1[['home_team', 'away_team']].values.ravel('K'))

dfYears = pd.unique(df1[['year']].values.ravel('K'))
#dfYears= df1[-5:]
dfYears

array([1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
       1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
       1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019])

In [ ]:
#Trabajare con los ultimos 5 años:

df1Years = dfYears.copy()
df1Years = df1Years[-15:]
df1Years

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019])