<a href="https://colab.research.google.com/github/JMML2021/0501_sampling/blob/main/05_Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
import pandas as pd

In [170]:
# Activo Google Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [171]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive/01_COLAB/kaggle.json'

# Exercici 1

Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

In [172]:
# Abro el fichero una vez adecuado

path = ('/content/drive/MyDrive/01_COLAB/resultsFutbol.csv')
df=  pd.read_csv(path)
df.shape

nRow, nCol = df.shape
print(f'Hay  {nRow} filas con {nCol} columnas')

Hay  41243 filas con 9 columnas

In [173]:
#df.describe

In [174]:
df.head(-8)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41230,2019-10-19,Uganda,Burundi,3,0,African Nations Championship qualifying,Uganda,Uganda,False
41231,2019-10-19,Morocco,Algeria,3,0,African Nations Championship qualifying,Berkane,Morocco,False
41232,2019-10-19,Namibia,Madagascar,2,0,African Nations Championship qualifying,Namibia,Namibia,False
41233,2019-10-19,Zambia,Eswatini,2,2,African Nations Championship qualifying,Zambia,Zambia,False
41234,2019-10-19,Nigeria,Togo,2,0,African Nations Championship qualifying,Nigeria,Nigeria,False

In [175]:
# Convierto todas las columnas de tiempo en un formato correcto
df1 = df.copy()

formato = ("%Y-%m-%d %H:%M")
df1['fecha']= pd.to_datetime(df1['date'],
                               format=formato,
                               errors='coerce')
df1.head(-8)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,fecha
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872-11-30
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873-03-08
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874-03-07
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875-03-06
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876-03-04
...,...,...,...,...,...,...,...,...,...,...
41230,2019-10-19,Uganda,Burundi,3,0,African Nations Championship qualifying,Uganda,Uganda,False,2019-10-19
41231,2019-10-19,Morocco,Algeria,3,0,African Nations Championship qualifying,Berkane,Morocco,False,2019-10-19
41232,2019-10-19,Namibia,Madagascar,2,0,African Nations Championship qualifying,Namibia,Namibia,False,2019-10-19
41233,2019-10-19,Zambia,Eswatini,2,2,African Nations Championship qualifying,Zambia,Zambia,False,2019-10-19
41234,2019-10-19,Nigeria,Togo,2,0,African Nations Championship qualifying,Nigeria,Nigeria,False,2019-10-19

In [176]:
# Convierto las colunas de goles Enteros
df1['away_score'].astype(int)

0        0
1        2
2        1
3        2
4        0
        ..
41238    0
41239    0
41240    0
41241    0
41242    0
Name: away_score, Length: 41243, dtype: int64

In [177]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41243 entries, 0 to 41242
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41243 non-null  object
 1   home_team   41243 non-null  object
 2   away_team   41243 non-null  object
 3   home_score  41243 non-null  int64
 4   away_score  41243 non-null  int64
 5   tournament  41243 non-null  object
 6   city        41243 non-null  object
 7   country     41243 non-null  object
 8   neutral     41243 non-null  bool
 9   fecha       41243 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(2), object(6)
memory usage: 2.9+ MB

In [178]:
# Partidos ganados por cada pais

In [179]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41243 entries, 0 to 41242
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41243 non-null  object
 1   home_team   41243 non-null  object
 2   away_team   41243 non-null  object
 3   home_score  41243 non-null  int64
 4   away_score  41243 non-null  int64
 5   tournament  41243 non-null  object
 6   city        41243 non-null  object
 7   country     41243 non-null  object
 8   neutral     41243 non-null  bool
 9   fecha       41243 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(2), object(6)
memory usage: 2.9+ MB

In [180]:
df1

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,fecha
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872-11-30
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873-03-08
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874-03-07
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875-03-06
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876-03-04
...,...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False,2019-10-20
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False,2019-10-20
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False,2019-10-20
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False,2019-10-20
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False,2019-10-20

In [181]:
#df1 = df.copy()
df1 ['year'] = pd.DatetimeIndex(df1['fecha']).year
df1

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,fecha,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872-11-30,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873-03-08,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874-03-07,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875-03-06,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876-03-04,1876
...,...,...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False,2019-10-20,2019
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False,2019-10-20,2019
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False,2019-10-20,2019
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False,2019-10-20,2019
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False,2019-10-20,2019

In [182]:

dfPaises = pd.unique(df1[['home_team', 'away_team']].values.ravel('K'))

dfYears = pd.unique(df1[['year']].values.ravel('K'))
#dfYears= df1[-5:]
dfYears.min()

1872

In [183]:
#Trabajare con los ultimos 5 años:

df1Years = dfYears.copy()
df1Years = df1Years[-15:]
df1Years

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019])

In [184]:
# Selecciono solo España:
spain = df1[(df1['home_team'] == 'Spain') | (df1['away_team'] == 'Spain') & (df1['year']> 2016)]
spain.head(3)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,fecha,year
612,1921-12-18,Spain,Portugal,3,1,Friendly,Madrid,Spain,False,1921-12-18,1921
686,1923-01-28,Spain,France,3,0,Friendly,San Sebastián,Spain,False,1923-01-28,1923
769,1923-12-16,Spain,Portugal,3,0,Friendly,Seville,Spain,False,1923-12-16,1923

In [185]:
spain.count()

date          375
home_team     375
away_team     375
home_score    375
away_score    375
tournament    375
city          375
country       375
neutral       375
fecha         375
year          375
dtype: int64

In [190]:
#Partidos jugados

#spain[((spain.home_team.str.match("Spain")) or (spain.away_team.str.match("Spain")))].groupby("away_team").count()

In [191]:
# Partidos ganados

spain[(spain['home_score'] >= spain['away_score']) & ( spain['home_team'] == 'Spain') |
      (spain['home_score'] <= spain['away_score']) & ( spain['away_team'] == 'Spain')].groupby("away_team").count()

,date,home_team,home_score,away_score,tournament,city,country,neutral,fecha,year
away_team,,,,,,,,,,
Albania,4,4,4,4,4,4,4,4,4,4
Andorra,1,1,1,1,1,1,1,1,1,1
Argentina,7,7,7,7,7,7,7,7,7,7
Armenia,3,3,3,3,3,3,3,3,3,3
Austria,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...
United States,3,3,3,3,3,3,3,3,3,3
Uruguay,8,8,8,8,8,8,8,8,8,8
Venezuela,2,2,2,2,2,2,2,2,2,2
Wales,3,3,3,3,3,3,3,3,3,3
Yugoslavia,5,5,5,5,5,5,5,5,5,5

In [192]:

ganados= spain[((spain.home_team.str.match("Spain")) & (spain['home_score'] > spain['away_score']) | 
                (spain.away_team.str.match("Spain")) & (spain['home_score'] < spain['away_score'])) ].count()
ganados

date          254
home_team     254
away_team     254
home_score    254
away_score    254
tournament    254
city          254
country       254
neutral       254
fecha         254
year          254
dtype: int64

In [193]:
jugados=spain[spain.home_team.str.match("Spain")].count()

In [194]:
porcentaje = ganados/jugados
porcentaje

date          0.711485
home_team     0.711485
away_team     0.711485
home_score    0.711485
away_score    0.711485
tournament    0.711485
city          0.711485
country       0.711485
neutral       0.711485
fecha         0.711485
year          0.711485
dtype: float64

In [195]:
# Selecciono solo España:
spain = df1[(df1['home_team'] == 'Spain') | (df1['away_team'] == 'Spain') & (df1['year']> 2016)]
spain.head(3)

spain[(spain['home_score'] >= spain['away_score']) & ( spain['home_team'] == 'Spain') |
      (spain['home_score'] <= spain['away_score']) & ( spain['away_team'] == 'Spain')].groupby("away_team").count()

,date,home_team,home_score,away_score,tournament,city,country,neutral,fecha,year
away_team,,,,,,,,,,
Albania,4,4,4,4,4,4,4,4,4,4
Andorra,1,1,1,1,1,1,1,1,1,1
Argentina,7,7,7,7,7,7,7,7,7,7
Armenia,3,3,3,3,3,3,3,3,3,3
Austria,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...
United States,3,3,3,3,3,3,3,3,3,3
Uruguay,8,8,8,8,8,8,8,8,8,8
Venezuela,2,2,2,2,2,2,2,2,2,2
Wales,3,3,3,3,3,3,3,3,3,3
Yugoslavia,5,5,5,5,5,5,5,5,5,5

In [196]:

df5= df1.groupby(['away_team', 'year']).count()
df5.head(-8)

                    date  home_team  home_score  away_score  tournament  city  \
away_team     year
Abkhazia      2012     1          1           1           1           1     1
              2014     2          2           2           2           2     2
              2017     4          4           4           4           4     4
              2018     1          1           1           1           1     1
              2019     2          2           2           2           2     2
...                  ...        ...         ...         ...         ...   ...
Zimbabwe      2016     4          4           4           4           4     4
              2017     9          9           9           9           9     9
              2018     4          4           4           4           4     4
              2019     7          7           7           7           7     7
Åland Islands 1989     1          1           1           1           1     1

                    country  neutral  fecha
away_team     year
Abkhazia      2012        1        1      1
              2014        2        2      2
              2017        4        4      4
              2018        1        1      1
              2019        2        2      2
...                     ...      ...    ...
Zimbabwe      2016        4        4      4
              2017        9        9      9
              2018        4        4      4
              2019        7        7      7
Åland Islands 1989        1        1      1

[10732 rows x 9 columns]

In [197]:
ganado= df1[(df1['home_score'] > df1['away_score'])].count()
ganado

date          20053
home_team     20053
away_team     20053
home_score    20053
away_score    20053
tournament    20053
city          20053
country       20053
neutral       20053
fecha         20053
year          20053
dtype: int64

In [198]:
jugado= df1.shape[0]
porcentaje= ganado/jugado*100
print(round(porcentaje,2), '%')

date          48.62
home_team     48.62
away_team     48.62
home_score    48.62
away_score    48.62
tournament    48.62
city          48.62
country       48.62
neutral       48.62
fecha         48.62
year          48.62
dtype: float64 %

In [200]:
# Escojo muetreo aleatorio

muestra_df1 = df1.sample(1000)


ganado= muestra_df1[(muestra_df1['home_score'] > muestra_df1['away_score'])].count()
jugado= muestra_df1.shape[0]
porcentaje= ganado/jugado*100
print(round(porcentaje,2), '%')

date          49.2
home_team     49.2
away_team     49.2
home_score    49.2
away_score    49.2
tournament    49.2
city          49.2
country       49.2
neutral       49.2
fecha         49.2
year          49.2
dtype: float64 %

In [202]:
# Muestreo sistematico
import numpy as np

# Creo la funcion de muestreo sistematico
def muestreoSistematico(df, step):
 
    indexes = np.arange(0, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample

muestreoSistematico_df1 = muestreoSistematico(df1, 5)


ganado= muestreoSistematico_df1[(muestreoSistematico_df1['home_score'] > muestreoSistematico_df1['away_score'])].count()

jugado=muestreoSistematico_df1.shape[0]
porcentaje= ganado/jugado*100
print(round(porcentaje,2), '%')

date          48.47
home_team     48.47
away_team     48.47
home_score    48.47
away_score    48.47
tournament    48.47
city          48.47
country       48.47
neutral       48.47
fecha         48.47
year          48.47
dtype: float64 %

# Nivell 2

- Exercici 2
Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

In [211]:
# Partidos jugados por cada Pais

df7 = df1.drop_duplicates(subset=['home_team', 'away_team']).count()
df7.head()

date          10903
home_team     10903
away_team     10903
home_score    10903
away_score    10903
dtype: int64

In [214]:

dfPaises = pd.unique(df1[['home_team', 'away_team']].values.ravel('K'))
#dfPaises

In [240]:
partidosJugados = df1.groupby(['home_team']).count()
partidosJugados[104:107]

,date,away_team,home_score,away_score,tournament,city,country,neutral,fecha,year
home_team,,,,,,,,,,
Germany,503,503,503,503,503,503,503,503,503,503
Ghana,284,284,284,284,284,284,284,284,284,284
Gibraltar,54,54,54,54,54,54,54,54,54,54

In [265]:
# Cantidad de partidos jugados por cada Pais
partidosJugados = df1.groupby(['home_team']).count() + df1.groupby(['away_team'	]).count()
partidosJugados= partidosJugados['date'][104:107]
partidosJugados

German DR    298.0
Germany      946.0
Ghana        598.0
Name: date, dtype: float64

In [286]:
# Cantidad de partidos ganados en casa

partidosJugados = df1[(df1['home_score'] > df1['away_score'])].groupby(['home_team']).count() 
partidosJugados= partidosJugados['date'][98:102]
partidosJugados

home_team
Georgia       47
German DR     77
Germany      315
Ghana        174
Name: date, dtype: int64

In [293]:
#!pip install sidetable

In [295]:
# Obtener la frecuencia de ocurrencia con Sidetable

import sidetable as stb
df1.stb.freq(['home_team'])

         home_team  count   percent  cumulative_count  cumulative_percent
0           Brazil    567  1.374779               567            1.374779
1        Argentina    547  1.326286              1114            2.701064
2           Mexico    512  1.241423              1626            3.942487
3          Germany    503  1.219601              2129            5.162088
4          England    491  1.190505              2620            6.352593
..             ...    ...       ...               ...                 ...
305         Madrid      1  0.002425             41239           99.990301
306        Kabylia      1  0.002425             41240           99.992726
307         Crimea      1  0.002425             41241           99.995151
308       Chameria      1  0.002425             41242           99.997575
309  Central Spain      1  0.002425             41243          100.000000

[310 rows x 5 columns]